@{
    ViewBag.Title = "About";
}



<h2 style="text-align:center" class="border-bottom">Our Team</h2>
<div class="container">

    <div class="row d-flex align-self-stretch">

        <div class="col-md-3">
            <div class="cardc">
                <img src="~/images/anim.jpg" alt="John" style="width:100%">
                <h2>Istiaqe Hashem Anim</h2>
                <p class="titlec">170104059</p>
                <p>Ahsanullah University of Science and Technology</p>

                <p><button class="buttonc">Contact</button></p>
            </div>
        </div>        
        <div class="col-md-3">
            <div class="cardc">
                <img src="~/images/mahi.jpg" alt="John" style="width:100%">
                <h2>Mahmudul Hasan</h2>
                <p class="titlec">170104065</p>
                <p>Ahsanullah University of Science and Technology</p>


                <p><button class="buttonc">Contact</button></p>
            </div>
        </div>        
        <div class="col-md-3">
            <div class="cardc">
                <img src="~/images/topu.jpg" alt="John" style="width:100%">
                <h2>Tunazzin Topu</h2>
                <p class="titlec">170104066</p>
                <p>Ahsanullah University of Science and Technology</p>


                <p><button class="buttonc">Contact</button></p>
            </div>
        </div>        
        <div class="col-md-3 ">
            <div class="cardc">
                <img src="~/images/raju.jpg" alt="John" style="width:100%">
                <h2>MD Shah Faisal Raju</h2>
                <p class="titlec">170104077</p>
                <p>Ahsanullah University of Science and Technology</p>

                <p><button class="buttonc">Contact</button></p>
            </div>
        </div>

    </div>


</div>

