@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>



<h2 class="weather-heading">LATEST BLOG UPDATE</h2>
<div class="container-fluid  mb-5 weatherblog_bg">

    <div class="row">

        <div class="col-sm-6 mb-3 ">
            <div class="row p-2">
                <div class="col-md-4 col-sm-6">
                    <img alt="fall 1" data-src="https://wordpress.accuweather.com/wp-content/uploads/2017/10/fall-1-1.jpg?h=128"
                         data-srcset="" data-sizes="" class="component-image tout-image" title="fall 1"
                         width="250px" height="160px" src="https://wordpress.accuweather.com/wp-content/uploads/2017/10/fall-1-1.jpg?h=128" srcset="" sizes="">
                    <P><small>posted 3 mins ago</small></P>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title weather-blog-title">Haishen typhoon of 2020<span class="blog_post_type">weather news</span></h5>
                        <p class="weather-blog-body">
                            Typhoon Haishen is strengthening and may become the first super
                            typhoon of the season in the western Pacific Ocean, but the storm's timing couldn't
                        </p>
                        <a href="#" class="text-style">Read More....</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3 ">
            <div class="row p-2">
                <div class="col-md-4 col-sm-6">
                    <img alt="fall 1" data-src="https://wordpress.accuweather.com/wp-content/uploads/2017/10/fall-1-1.jpg?h=128"
                         data-srcset="" data-sizes="" class="component-image tout-image" title="fall 1"
                         width="250px" height="160px" src="https://wordpress.accuweather.com/wp-content/uploads/2020/09/cropped-gfs-usnw_ll-90-C-10mguststream2_2020090412_whitecounty.png?h=128" srcset="" sizes="">
                    <p><small>posted 3 mins ago</small></p>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title weather-blog-title">After heat bakes the West<span class="blog_post_type">weather blog</span></h5>
                        <p class="weather-blog-body">
                            That 600 contour over Nevada, Utah and Arizona is the sign of a very strong and
                            expansive ridge. Very few ridges in the United States reach that level.
                        </p>
                        <a href="#" class="text-style">Read More....</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3 ">
            <div class="row p-2">
                <div class="col-md-4 col-sm-6">
                    <img alt="fall 1" data-src="https://wordpress.accuweather.com/wp-content/uploads/2017/10/fall-1-1.jpg?h=128"
                         data-srcset="" data-sizes="" class="component-image tout-image" title="fall 1"
                         width="250px" height="160px" src="https://wordpress.accuweather.com/wp-content/uploads/2020/09/page-26.jpg?h=128" srcset="" sizes="">
                    <p><small>posted 3 mins ago</small></p>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title weather-blog-title">Haishen typhoon of 2020<span class="blog_post_type">weather blog</span></h5>
                        <p class="weather-blog-body">
                            Typhoon Haishen is strengthening and may become the first super
                            typhoon of the season in the western Pacific Ocean, but the storm's timing couldn't
                        </p>
                        <a href="#" class="text-style">Read More....</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
